{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:"Wawa EDM Admin" }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="icon" href="{% static 'img/favicon.ico' %}" sizes="any">
<link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{% static 'img/favicon-192x192.png' %}">
<script defer src="{% static 'admin/js/wawa_responsive_list.js' %}"></script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/wawa_admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
  <a class="wawa-brand" href="{% url 'admin:index' %}" aria-label="{% translate 'Wawa EDM admin home' %}">
    <img class="wawa-brand__logo" src="{% static 'img/logo.svg' %}" alt="Wawa EDM">
    <span class="wawa-brand__context">Admin workspace</span>
  </a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
